@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: Lato, sans-serif;
    font-size: 17px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.footer-Content {
  position: relative;
  bottom: 250px;
}

.footer-building-margin {
  margin-top: 100px;
  background-color: #fff;
  position: relative;
}

.upper-Footer {
  background-color: #163231;
 height: auto; 
  max-height: 350px; 
  border-radius: 20px;
  width: 800px;
  position: absolute;
  top: -100px; 
  z-index: 2;
  left: 280px;
  padding-bottom: 50px;
  overflow: visible;
  padding-left: 20px;
  padding-right: 20px;
}

.building {
  width: 30%; 
  position: absolute;
  max-height: 100vh;
  bottom: 0px;
  z-index: 1;
}

.upper-Footer-Signup {
  padding: 30px 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.upper-Footer-Signup .footer-Text {
    font-weight: 500;
    font-size: 14.5px;
    justify-content: space-around;
    padding: 0 25px;
    letter-spacing: 1px; 
    line-height: 1.5;
  }
  
.upper-Footer-Signup .heading {
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    margin-right: 35px;
  }
  
.btn-Div {
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 25px;
    max-width: 280px;
  }